<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.tanikazeriku.mapper.KakuyaDungeonMapper">

    <select id="getAllImages" resultType="com.tanikazeriku.pojo.Entity.ImageWrapper">
        select image from kakuya_dungeon;
    </select>

<!--    <resultMap id="ImageWrapperResultMap" type="com.tanikazeriku.pojo.Entity.ImageWrapper">-->
<!--        <id property="id" column="id"/>-->
<!--        <result property="image" column="image"/>-->
<!--    </resultMap>-->
<!--    <select id="getImageById" resultType="com.tanikazeriku.pojo.Entity.ImageWrapper">-->
<!--        select image from kakuya_dungeon where id=##{id};-->
<!--    </select>-->
</mapper>
